<%= render @taxon %>

<div>
  <%= link_to(
       "Edit this taxon",
       edit_taxon_path(@taxon)
      ) if admin_signed_in?
  %>

  <%= button_to(
        "Destroy this taxon",
        taxon_path(@taxon),
        method: :delete, form: {data: {turbo_confirm: "Are you sure?"}}
      ) if admin_signed_in?
  %>
</div>
