<%= render @observation %>

<div>
  <%= link_to(
       "Edit this observation",
       edit_observation_path(@observation)
      ) if admin_signed_in?
  %>

  <%= button_to(
        "Destroy this observation",
        observation_path(@observation),
        method: :delete, form: {data: {turbo_confirm: "Are you sure?"}}
      ) if admin_signed_in?
  %>
</div>
