<%= form_tag(
      couplets_path,
      method: :get,
      class: "search"
    ) do
%>

  <div class="field">
    Id
    <%= text_field_tag(
          :id,
          {},
          value: params[:id],
          size: 5
        )
    %>
  </div>

  <div class="submit-field">
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <%= link_to "Clear", search_couplets_path %>
  </div>

<% end %>
