<%= render @couplet %>

<div>
  <%= link_to(
       "Edit this couplet",
       edit_couplet_path(@couplet)
      ) if admin_signed_in?
  %>

  <%= button_to(
        "Destroy this couplet",
        couplet_path(@couplet),
        method: :delete, form: {data: {turbo_confirm: "Are you sure?"}}
      ) if admin_signed_in?
  %>
</div>
