<% if params[:delete] == "1" %>

  <h1>Delete this Key?</h1>

  <%= render @key %>

  <div>
    <%= button_to(
          "Delete",
          key_path(@key),
          method: :delete
        ) if admin_signed_in?
    %>
  </div>

<% else %>

  <%= render @key %>

<% end %>
