<% if params[:delete] == "1" %>

  <h1>Delete this Document?</h1>

  <div>
    As well as any keys and figures that it contains.
  </div>

  <%= render @document %>

  <div>
    <%= button_to(
          "Delete",
          document_path(@document),
          method: :delete
        ) if admin_signed_in?
    %>
  </div>

<% else %>

  <%= render @document %>

<% end %>
