<%= render @document %>

<div>
  <%= button_to(
        "Destroy this document",
        document_path(@document),
        method: :delete, form: {data: {turbo_confirm: "Are you sure?"}}
      ) if admin_signed_in?
  %>
</div>
