/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.alert {
  color: red;
}

.notice {
  color: green;
}

table {
  border-collapse: collapse;
  margin-top: 5px;
  margin-bottom: 5px;
}

th, td {
  padding: 5px;
  border: 1px solid gray;
}

th {
  text-align: left;
  vertical-align: bottom;
}

td {
  text-align: left;
  vertical-align: top;
}

form.search {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid gray;
}

form.search .field {
  float: left;
  margin: 5px;
}

form.search .submit-field {
  clear: both;
  margin: 5px
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.clear-both {
  clear: both;
}
